/* 
Standard break points:

--breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
*/

:root {
  font-family: "Poppins", Helvetica, sans-serif; /* need to source in poppins */
  font-size: 16px;
  line-height: 24px;

  background-color: white; 
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}
