.container {
    display: flex;
    flex-direction: row;
    color: var(--color-gray-600);
}

.detailsContainer {
    padding: 0 1rem;
}

.position {
    padding-left: .5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    border-left: 2px solid var(--color-gray-400);
}

.title {
    color: var(--color-gray-700);
}

.container p, .container h4, .container h5, .container h3 {
    margin: 0;
}

/*
14px for the title details
12px for the text


color: #666;
  opacity: .7;


Title: 16px | 600
Sub title: 14px | 400
Text: 12px | opacity: .7 | 400

*/
