.nav {
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 50px;
  padding-bottom: 40px;
}

.navUl a.active {
  text-decoration: underline;
  color: #222;
}

.navLogoNameContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.navLogo {
  width: 2.75rem;
  height: 2.75rem;;
  font-size: 1.75rem;
  font-weight: 800;
  border-radius: 50%;
  background-color: var(--background-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navName {
  font-size: 1.25rem;
  color: #222;
}

.navFirstName {
  font-weight: 600;
}

.navLastName {
  font-weight: 400;
}

.navLink {
  text-decoration: none;
  color: black;
}

.navUl {
  list-style: none;
}

.navUl a {
  font-size: 0.875rem;
  padding-right: 2rem;
  color: #333333;
  text-decoration: none;
}
