.pageContainer {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.pageCard {
    width: 94%;
    height: auto;
    max-width: 1320px;
    background-color: #fff;
    margin: 3% auto;
    box-shadow: 0 0 40px -10px rgba(0,0,0,.2);
    border-radius: 40px;
    box-sizing: border-box;
    padding: 40px 40px 60px;
}

.mainContent {
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (max-width: 991px) {
    .pageCard {
        width: 100%;
        margin: 0;
        border-radius: 0;
        padding: 10px 20px 60px;
        min-height: 100vh;
    }
}

/* 

normal inner page card padding: 
padding: 40px 70px 60px; 

40 - top
70 - left and right
60 - bottom

*/